<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        {% include 'components/enavbar.html' %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        <h2>Update Event</h2>
        <form method="POST" action="{{ url_for('employee_routes.update_event_employee', token=event.token) }}">
            <div class="form-group">
                <label for="title">Event Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ event.title }}" required>
            </div>
            <div class="form-group">
                <label for="At">Start Date and Time</label>
                <input type="datetime-local" class="form-control" id="start_date" name="At" value="{{ event.At.strftime('%Y-%m-%dT%H:%M') }}" required>
            </div>
            <div class="form-group">
                <label for="salle">Location (Salle)</label>
                <input type="text" class="form-control" id="salle" name="salle" value="{{ event.salle }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Event</button>
            <a href="{{ url_for('employee_routes.calendar') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
