<div class="container text-center mt-3 text-white">
    <div class="row">
        <div class="col-md-4 mb-3">
            <h5>Company</h5>
            <ul class="list-unstyled">
                <li><a href="#about" class="text-white">About Us</a></li>
                <li><a href="#contact" class="text-white">Contact</a></li>
                <li><a href="#careers" class="text-white">Careers</a></li>
                <li><a href="#privacy" class="text-white">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Quick Links</h5>
            <ul class="list-unstyled">
                <li><a href="#dashboard" class="text-white">Dashboard</a></li>
                <li><a href="#projects" class="text-white">Projects</a></li>
                <li><a href="#tasks" class="text-white">Tasks</a></li>
                <li><a href="#teams" class="text-white">Teams</a></li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <h5>Support</h5>
            <ul class="list-unstyled">
                <li><a href="#faq" class="text-white">FAQs</a></li>
                <li><a href="#support" class="text-white">Technical Support</a></li>
                <li><a href="#documentation" class="text-white">Documentation</a></li>
            </ul>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p class="mb-0">© 2024 [Your Company Name]. All Rights Reserved. Designed for internal use only.</p>
        </div>
    </div>
</div>